<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Etiquetas meta y título para el documento HTML -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Objetos de Elden Ring</title>
    <!-- Enlace a una hoja de estilo externa -->
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div id="app">
      <!-- Contenedor principal de la aplicación Vue.js -->
      <h1>Objetos de Elden Ring</h1>

      <!-- Contenedor para mostrar productos y agregarlos al carrito -->
      <div class="product-selection">
        <!-- Bucle para mostrar información de cada producto -->
        <div
          v-for="(product, index) in products"
          :key="index"
          class="product-item"
        >
          <img :src="product.image" alt="Imagen del producto" />
          <h3>{{ product.name }}</h3>
          <p class="description">{{ product.description }}</p>
          <p class="price">Precio: {{ product.price.toFixed(2) }} €</p>
          <input
            type="number"
            v-model="product.quantity"
            min="1"
            placeholder="Cantidad"
          />
          <button @click="addToCart(product, product.quantity)">
            Añadir al Carrito
          </button>
        </div>
      </div>

      <!-- Contenedor para mostrar el carrito de compras -->
      <div class="cart-sidebar" v-if="cart.length > 0">
        <h2>Carro de la Compra</h2>
        <!-- Bucle para mostrar la información de los elementos en el carrito -->
        <ul>
          <li v-for="(item, index) in cart" :key="index">
            {{ item.name }} - €{{ item.price.toFixed(2) }}
            <input
              type="number"
              v-model="item.quantity"
              @input="updateQuantity(index)"
            />
            <button @click="removeFromCart(index)">Eliminar</button>
          </li>
        </ul>
        <!-- Mostrar el precio total de los elementos en el carrito -->
        <p>Total: {{ calculateTotal().toFixed(2) }} €</p>
      </div>
    </div>

    <!-- Incluir la biblioteca de Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
      new Vue({
        // Montar la instancia de Vue en el elemento HTML con ID 'app'
        el: "#app",
        // Propiedades de datos para almacenar productos y el carrito de compras
        data() {
          return {
            products: [],
            cart: [],
          };
        },
        // Métodos para obtener productos, agregar al carrito, quitar del carrito, etc.
        methods: {
          // Obtener productos desde una API externa
          async fetchProducts() {
            try {
              const response = await fetch(
                "https://eldenring.fanapis.com/api/items?limit=36"
              );
              const data = await response.json();

              if (data.success) {
                // Mapear los datos recibidos al array 'products'
                this.products = data.data.map((product) => ({
                  ...product,
                  price: Math.random() * (100 - 10) + 10,
                  quantity: 1,
                }));
              } else {
                console.error("Error al obtener productos:", data.error);
              }
            } catch (error) {
              console.error("Error al obtener productos:", error);
            }
          },
          // Agregar un producto al carrito de compras
          addToCart(product, quantity) {
            const existingItem = this.cart.find(
              (item) => item.name === product.name
            );

            if (existingItem) {
              // Si el producto ya está en el carrito, actualizar su cantidad
              existingItem.quantity += +quantity; // Convertir la cantidad a número
            } else {
              // Si el producto no está en el carrito, agregarlo con la cantidad especificada
              this.cart.push({
                name: product.name,
                price: product.price,
                quantity: +quantity,
              });
            }
          },
          // Quitar un producto del carrito de compras
          removeFromCart(index) {
            this.cart.splice(index, 1);
          },
          // Asegurar que la cantidad de un elemento en el carrito sea al menos 1
          updateQuantity(index) {
            if (this.cart[index].quantity < 1) {
              this.cart[index].quantity = 1;
            }
          },
          // Calcular el precio total de los elementos en el carrito de compras
          calculateTotal() {
            return this.cart.reduce(
              (total, item) => total + item.price * item.quantity,
              0
            );
          },
        },
        // Obtener productos cuando se monta la instancia de Vue
        mounted() {
          this.fetchProducts();
        },
      });
    </script>
  </body>
</html>
